<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand" href="/signin">
            Daqing CA
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    {{!-- Opciones Visibles cuando un usuario está logueado --}}

                    {{#ifEquals user.rol 'Admin'}}
                        {{!-- Opciones para ADMINISTRADORES --}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href='#' id="addDropdown" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                               Ver
                            </a>
                            <div class="dropdown-menu" aria-labelledby="addDropdown">
                                <a class="dropdown-item" href="/admin/control">Registros</a>
                                <a class="dropdown-item" href="/admin">Panel</a>
                            </div>
                        </li>
                          <li class="nav-item">
                           <a href="" class="nav-link"></a>
                          </li>
                        
                    {{/ifEquals}}

                    {{#ifEquals user.rol 'Cliente'}}
                        {{!-- Opciones para CLIENTES --}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href='#' id="addDropdown" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Registro
                            </a>
                            <div class="dropdown-menu" aria-labelledby="addDropdown">
                                <a class="dropdown-item" href="/links">Ver Registro</a>
                                <a class="dropdown-item" href="/links/add">Nuevo Registro</a>
                            </div>
                        </li>
                        <li class="nav-item">
                           <a href="" class="nav-link"></a>
                          </li>
                    {{/ifEquals}}

                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Salir</a>
                    </li>

                {{else}}
                    {{!-- Opciones Visibles cuando NO hay usuario logueado --}}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link"></a>
                    </li>
                    {{/if}}
            </ul>
        </div>
    </div>
</nav>