<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h1 class="display-4">¡Bienvenido, Administrador!</h1>
            <p class="lead">Desde aquí puedes controlar todos los accesos vehiculares.</p>
            <hr class="my-4">
            <p> Comencemos </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <div class="card text-center shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Registro y control de Acceso Vehicular</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Chequea, administra y descarga el pdf de los accesos  vehiculares registrados en el sistema.</p>
                    <a href="/admin/control" class="btn btn-outline-primary btn-block">Ver Registros</a>
                </div>
            </div>
        </div>

    </div>
</div>